body {
    font-family: Montserrat;
}

.parent {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.col-sm {
    margin: 0 1vw;
}

.title {
    margin-bottom: 4vh;
    padding : 0 4vw;
}

#theme-changer {
    margin: 4vh 0;
}