body {
    color: black;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui-accordion-header {
    border: solid 1px black;
    border-radius: 5pt;
    padding: .5vmax;
}

.ui-accordion-header-active {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}