body {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.ui-accordion-header {
    border: solid 1px white;
    border-radius: 5pt;
    padding: .5vmax;
}

.ui-accordion-header-active {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}