{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{% static 'lab_9/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src = "{% static 'lab_9/script.js' %}" type = "text/javascript"></script>
    <title>Story 9</title>
</head>
<body>
    <div class = "container">
        <div class = "parent">
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group input-group-sm sm-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Search Book</span>
                        </div>
                        <input placeholder = "Search Book. Press enter to search."type="text" id = "search" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </form>
                <table>
                    <thead>
                        <tr>
                            <th>Book Title</th>
                            <th>Authors</th>
                            <th>Publishers</th>
                            <th>Published Date</th>
                            <th>Add to Favorites</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for book in book_data %}
                            <tr>
                                <td>{{ book.volumeInfo.title }}</td>
                                <td>
                                {% for author in book.volumeInfo.authors %}
                                    {{ author }} <br>
                                {% endfor %}
                                </td>
                                <td>{{ book.volumeInfo.publisher }}</td>
                                <td>{{ book.volumeInfo.publishedDate }}</td>
                                <form id = "favorite" method="POST">
                                    {% csrf_token %}
                                    <td><button value = "False" type = "button" onclick = "favoriteAction(this)" class = "btn btn-light btn-sm">Favorite</button></td>
                                </form>
                            </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
                
                <h4>Favorites : <span id = 'counter'>0</span></h4>
            </div>
        </div>
    </div>
</body>
</html>