/<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{% static 'lab_8/style.css' %}">
    <link id = "theme" rel = "stylesheet" href = "{% static 'lab_8/theme-1.css' %}">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src = "{% static 'lab_8/script.js' %}" type = "text/javascript"></script>
    <script src = "{% static 'lab_8/accordion_src.js' %}" type = "text/javascript"></script>
    
    <title>Story 8</title>  
</head>
<body>
    <div class = "container">
        <div class = "parent">
            <div>
                <h1>Hello, Apa Kabar?</h1>
                <h1>Nama Saya sudz</h1>
                <button onclick="changeTheme()" class = "btn btn-dark" id = "theme-changer">Change Theme</button>
                <h6>Scroll down</h6>
                <h6>for Accordion</h6>
            </div>
        </div>

        <div class = "parent">
            <div class = "row">
                <div class = "col-sm">
                    <h2 class = "title">Aktivitas</h2>
                    <div class = "accordion">
                        <h4>Berbagi</h4>
                        <div>CONTENT 1</div>
                        <h4>Bersama</h4>
                        <div>CONTENT 2</div>
                        <h4>Di Pizza Hut</h4>
                        <div>CONTENT 3</div>
                    </div>
                </div>

                <div class = "col-sm">
                    <h2 class = "title">Pengalaman</h2>
                    <div class = "accordion">
                        <h4>Belajar</h4>
                        <div>CONTENT 1</div>
                        <h4>Bersama</h4>
                        <div>CONTENT 2</div>
                        <h4>Kak Pewe</h4>
                        <div>CONTENT 3</div>
                    </div>
                </div>

                <div class = "col-sm">
                    <h2 class = "title">Prestasi</h2>
                    <div class = "accordion">
                        <h4>Lulus</h4>
                        <div>CONTENT 1</div>
                        <h4>PPW</h4>
                        <div>CONTENT 2</div>
                        <h4>2018</h4>
                        <div>CONTENT 3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>