.parent {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

table {
    margin: 5vh 0;
}
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}