{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 10</title>
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{% static 'lab_10/style.css' %}"></head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src = "{% static 'lab_10/script.js' %}" type = "text/javascript"></script>
<body>
    <div class = "container">
        <div class = "parent">
            <div class = "child">
                <h1 id = "banner">Subscribe Now!</h1>
                <form method="POST" action="" id = "form-sub">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class = "form-field">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <p hidden id = "form-info"></p>
                    <input onclick = "postForm()" disabled type="submit" class="btn btn-sm btn-secondary" id="submit-button" value = "Subscribe">
                </form>
                <button type = "button" data-toggle="modal" id = "unsub-trigger" data-target="#unsub-modal" class="btn btn-sm btn-secondary">Unsubscribe</button>
                    
                <div class="modal fade" id="unsub-modal" tabindex="-1" role="dialog" aria-labelledby="modal-center" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="unsub-modal-title">Unsubscribe?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id = "form-unsub" action="">
                                    {% csrf_token %}
                                    <div class = "form-field">
                                        {{ form.email.label_tag }}
                                        {{ form.email}}
                                    </div>
                                    <div class = "form-field">
                                        {{ form.password.label_tag }}
                                        {{ form.password}}
                                    </div>
                                    <p hidden id = "form-info-2"></p>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button onclick = "unsubscribe()" type="button" class="btn btn-danger">Unsubscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>