body {
    font-family: Montserrat;
}

.parent {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.col-sm {
    margin: 0 1vw;
}

.title {
    margin-bottom: 4vh;
    padding : 0 4vw;
}

.accordion {
    margin-bottom: 4vh;
}

.ui-state-hover {
    cursor: pointer;
}

#theme-changer {
    margin: 4vh 0;
}

@keyframes spinner-line-fade-more {
    0%, 100% {
      opacity: 0; /* minimum opacity */
    }
    1% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
      opacity: 0.25; /* minimum opacity */
    }
    40% {
      opacity: 1;
    }
  }
  
  @keyframes spinner-line-fade-default {
    0%, 100% {
      opacity: 0.22; /* minimum opacity */
    }
    1% {
      opacity: 1;
    }
  }