body {
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.parent {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.child {
    min-width:40vw;
}

#banner {
    margin: 4vh 0;
    text-align: center;
}

.form-attr {
    background: transparent;
    border-radius: 5pt;
    border: solid 2px;
    width: 100%;
    padding: .5vh;
}

.form-field {
    margin: 1.5vh 0;
}

#submit-button {
    margin: .5vh 0;
}

#unsub-trigger {
    margin: 1vh 0;
}