<!doctype html>
{% load static %}
<html lang="en-US">
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "{% static "lab_6/style.css" %}">
        <title>Hello!</title>
    </head>
    <body>
        <div class = "container">
            <header class="text-center">
                <h1>Hello, Apa kabar?</h1>
                <a href = "{% url 'lab_6:profile' %}"><h1>Kenalan Yuk!</h1></a>
            </header>

            <div class = "card">
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#formModal">Create Status</button>

                <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="modalCenter" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title black-text" id="modalCenter">Create New Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body black-text">
                                <form method="POST" action="{% url 'lab_6:add_status' %}">
                                    {% csrf_token %}
                                    {{ form }}
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-light">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Back</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

            <div class = "row">
                {% for status in statuses %}
                <div class = "col-md-5 text-center black-bg-opacity-80 border-rounded border-solid-blue-dark white-text" id = "status-content">
                    <p>{{status.status}}</p>
                    <p>{{status.date}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        
    </body>
</html>