body {
    font-family: Montserrat;
}

header {
    margin:3vh auto;
}

.white-text {
    color: white
}

.text-center {
    text-align: center;
}

.black-bg-opacity-80 {
    background: #000000b9
}

.border-rounded {
    border-radius: 1em;
}

.border-solid-blue-dark {
    border:solid;
    border-color: #00108999;
}

#status-content {
    margin : 3vh auto;
}

p {
    vertical-align: middle;
}