body {
    font-family: Montserrat;
    background: #99ff00ca
}

a {
    text-decoration: none;
    color:rgb(116, 116, 116)
}

a:hover {
    color: black
}

header {
    margin:3vh auto;
}

.white-text {
    color: white
}

.parent {
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.text-center {
    text-align: center;
}

.black-bg-opacity-80 {
    background: #000000b9
}

.border-rounded {
    border-radius: 1em;
}

.border-solid-blue-dark {
    border:solid;
    border-color: #00108999;
}

#status-content {
    margin : 3vh auto;
}

p {
    vertical-align: middle;
}